<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>mimic developement & design</title>
	<link rel="stylesheet" type="text/css" href="_css/style.css">
	<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
	<script type="text/javascript" src="_js/app.js"></script>
	<script type="text/javascript" src="_js/controller.js"></script>
	<script src="//use.typekit.net/nnu3rod.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-controller="MainController as mainCtrl">
	<div id="hero"></div>
	<nav>
		<div class="menu"><i class="fa fa-bars"></i></div>
		<div class="menuToggle">
			<a href="#pjs"><div class="menuItem">Projects</div></a>
			<a href="#icons"><div class="menuItem">Contact</div></a>
			<a href="_pdf/resume.pdf" target="_blank"><div class="menuItem">Resume</div></a>
		</div>
	</nav>	
	<h1 id="heroType">MIKE McCREADY</h1>
	<div class="mainContain">
		<div class="pjWrap" id="pjs">
			<div ng-repeat="p in mainCtrl.projects" class="pjContain">
					<div style="background-image: url({{ p.image }})" id="pjImage">
						<div class="pjDescript">
							<a ng-href="{{ p.url }}" target="_blank">
								<h3>{{ p.title }}</h3>
							</a>	
							<!-- <p> -->
<!-- 								{{ p.description }} -->
								<div class="pjMoreBtn" ng-click="pjDetail = ! pjDetail">Detail</div>
							<!-- </p> -->
						</div>
					</div>
					<div class="pjDetail" ng-hide="!pjDetail">
						{{ p.details }}
					</div>

			</div>
<!-- 			<div class="about">
				<p>
					Full-stack developer with design chops based in Venice, CA.
				</p>
			</div> -->
		</div>
		<div class="form">
		    <form action="http://www.mmccready.com/cgi-sys/formmail.pl" method="post" name="hgmailer"> 
				<input type="hidden" name="recipient" value="admin@mmccready.com"> 
				<input type="hidden" name="subject" value="FormMail E-Mail"> 

				<h2>CONTACT</h2>

				<input type="text" name="name" size="30" value="" placeholder="name" onkeydown="inputColor(this)"> 
				<input type="text" name="email" size="30" value="" placeholder="email address" onkeydown="inputColor(this)">
				<textarea name="comment" cols="145" rows="1" placeholder="message" id="message" onkeyup="textAreaAdjust(this)"></textarea>
				<input type="button" value="SEND" class="submit" onclick="hgsubmit();"> 
				<input type="hidden" name="redirect" value="http://mmccready.com/"> 
			</form> 
		</div>
		<div class="icons" id ="icons">
			<a href="https://github.com/mikemccready" target="_blank"><i class="fa fa-github"></i></a>
			<a href="https://www.linkedin.com/in/mmccready" target="_blank"><i class="fa fa-linkedin"></i></a>
		</div>
	
	</div>


</body>

<script>

	$(document).ready(function(){
		
		$(".menuToggle").hide();
		$(".menu").click(function(){
			$(".menuToggle").slideToggle();
		});	

		// $(".pjDetail").hide();
		// $(".pjMoreBtn").click(function(){
		// 	$(".pjDetail").slideToggle();
		// });
		
	});

	function textAreaAdjust(t) {
    	t.style.height = "1px";
    	t.style.height = (25+t.scrollHeight)+"px";
    	t.style.color = "white";
	}

	function inputColor(t) {
    	t.style.color = "white";
	}	


	function parallax() {
		document.getElementById('heroType').style.top = (window.pageYOffset / 1.4)+'px';
	}    
	window.addEventListener("scroll", parallax, false);



	function hgsubmit(){
		if (/\S+/.test(document.hgmailer.name.value) == false){ 
			alert ("Please provide your name."); 
		}else if (/^\S+@[a-z0-9_.-]+\.[a-z]{2,6}$/i.test(document.hgmailer.email.value) == false){ 
			alert ("A valid email address is required.");
		}else if (/\S+/.test(document.hgmailer.comment.value) == false){ 
			alert ("Your email content is needed."); 
	  	}else { 
	       document.hgmailer.submit(); 
	       alert ('Thank you!\nYour email is sent.'); 
	    } 	 
	}

</script>
</html>